<!DOCTYPE html>
<html>
<head>
    <title>User Table</title>
</head>
<body>

<h2>Add User</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add User</button>
</form>

<hr>

<h2>User Data</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{user.phone.as_international}}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>